#container{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 1em;
    background-color: rgba(10, 10, 10, 0.4);
    height: 90vh;
    width: auto;
    font-size: auto;
    font-family: 'Courier New', Courier, monospace;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 0, 0, 0.6);
    width: 200px;
    float:none;
    padding: 5px;
    text-align: center ;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    background:-webkit-linear-gradient(left, white, rgb(240, 192, 192), rgb(241, 52, 52));
}

a{
    text-decoration: none;
    color: #fff;
    margin: 3px;
}
a:hover{
    border-radius: 5px;
    max-width: 150px;
}

a:active{
    color: #fff;
}

#menu{
    position: relative;
    float: left;
    margin: 10px;
    width: 300px;
    list-style: none;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

#menu li{
    list-style: none;
    text-shadow: 0px 0px 5px gray;
    color: #fff;
    margin-left: -40px;
}

#menu li a{
    display: flex;
    padding-left: 6px;
}

#menu li a:hover{
    text-shadow: 1px 1px 1px red;
    background: -webkit-linear-gradient(left, white, rgb(240, 192, 192), rgb(241, 52, 52));
    padding-left: 9px;
    
}

#menu li ul{
    display: none;
    position: absolute;
}

#menu li ul li{
    position: relative;
    width: 150px;
    margin-left: -20px;
}

#menu li:hover ul{
    position: relative;
    display: block;
}

#content{
    width: 400px;
    float: right;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

.imagem{
    max-width: 100px;
    border-radius: 50em;
    margin: 10px;
    cursor: pointer;
}

.imagem:hover{
	transform: scale(1.2);
    box-shadow: 0px 0px 10px;
}

